---
layout: ""
page_title: "Provider: OpenToolchain"
description: |-
  The OpenToolchain provider provides resources to interact with a IBM OpenToolchain API.
---

# OpenToolchain Provider

The OpenToolchain provider provides resources to interact with a IBM OpenToolchain API.

## Example Usage

{{tffile "examples/provider/main.tf"}}

{{ .SchemaMarkdown | trimspace }}